{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block bread %}
-> User Profile
{% endblock %}

{% block body %}
<div class="text-2xl"> {{ user.userProfile.name ?? user.email }} </div>
<div class="text-lg text-gray-500 dark:text-gray-400 font-normal>{{ user.email}}</div>

{% if user.userProfile != null %}
    <div class="text-base text-gray-800 dark:text-gray-400 font-normal">
        {{ user.userProfile.bio ?? 'No biography yet!'}}
    </div>

{% endif %}
{% endblock %}
